work/
transcript
*.vcd
*.macro
*.log
*.txt

#MacOS Metadata
.DS_Store
.DS_Store?
._*
obj_dir/

#Verilator Files
tb_main_verilator.cpp
tb_main.make
# The compiled executable (from iverilog -o)
*.out
ascon_sim
sim.out
